<div class="container">
    <div class="jumbotron">
        <h1>Własna wycieczka</h1>
        <p>
            Witaj w sekcji <b>"Własna wycieczka"</b>
        </p>
    </div>
    <p>W tym miejscu możesz sam zaplanowac swoją wymarzoną wycieczkę.</p>
    <p>Wystarczy że wybierzesz bazę wypadową oraz uzupełnisz inne niezbędne kryteria.</p>
</div>