@model JourneyPortal.ViewModels.Chat.ChatViewModel
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="/signalr/hubs"></script>
<div class="contentBody" style="width:100%">
    <h2>Czat publiczny</h2>
    <div class="form-group col-xl-12" style="width:100%">
        <div class="panel panel-default" style="position: -webkit-sticky;
    position: sticky;
    top: 50px;">
            <h3>Napisz wiadomość</h3>
            <textarea type="text" class="col-lg-10 text-primary" id="messageTextArea"></textarea>
            <span class="badge" id="maxContentMessage"></span>
            <input type="button" class="btn btn-primary" id="sendmessage" value="Wyślij" />
            <input type="button" class="btn btn-primary" onclick="goToBootom();" value="Przejdz do ostatniej wiadomości" /><br /><br />
        </div>
        <div class="container chatArea" style="width:100%">
            <input type="hidden" id="displayname" />
            <div id="discussion" style="width:100%"></div>
        </div>
    </div>
</div>
<script>
    var leftSide = false;
    function goToBootom() {
        window.scrollTo(0, document.body.scrollHeight);
    }
    $(function () {
        var max = 160;
        registerSummernote('#messageTextArea', 'Dodaj post.Maksymalna długość - 160 znaków', max)
        var string = 'Max ' + max + ' znaków'
        $('#maxContentMessage').text(String(string));
        $.get("/Chat/GetMessages", function (data) {
            for (var i = 0; i < data.messages.length; i++) {
                createNewMessage(data.messages[i].AuthorName, data.messages[i].Text, data.messages[i].DateTimeSeconds, data.messages[i].AuthorAvatar);
            }
        });
        var chat = $.connection.chatHub;
        chat.client.addNewMessageToPage = function (name, message,date, Avatar) {
            createNewMessage(name, message,date, Avatar)
        };
        
        $.connection.hub.start().done(function () {

            $('#sendmessage').click(function () {                
                var userName = '@User.Identity.Name';
                var messageToSend = $('#messageTextArea').val();
                if (messageToSend.length>0) {
                    chat.server.send(userName, messageToSend);
                    $('#messageTextArea').val('').focus();
                    $('.note-editable').text('');
                }
            });
        });
    });
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

    function createNewMessage(name,message,dateTime,avatar) {
        var div = $('#discussion');
        if (dateTime == undefined || dateTime == null) {
            dateTime = htmlEncode(new Date().toLocaleString());
        }
        var newId = 'author-' + div.children().length;
        dateTime = new Date(dateTime);
        htmlEncode(new Date().toLocaleString())
        var divClassName = 'message-container'
        var timeClassName = 'left';
        var imageClassName = '';

        var prevElem = $('#author-' + Number(div.children().length-1));
        if (prevElem.length) {
            if (prevElem.first().text() == name) {
                leftSide = !leftSide;
            }
        }
        if (leftSide) {
            divClassName += ' darker';
            timeClassName = 'right';
            imageClassName = "class='right'";
        }
        leftSide = !leftSide;
        if (avatar == '' || avatar == undefined || avatar == null) {
            avatar = '@Url.Content("~/Content/Images/" + @Path.GetFileName("empytAvatar.svg"))'
        }
        
        var html = "<div class='" + divClassName + "'><img src=" + avatar + " alt='Avatar'" + imageClassName + "><span id='" + newId + "'><strong>" + name + "<strong/></span><p>" + unescape(message) + "</p><span class='time-" + timeClassName + "'>" + dateTime + "</span></div>";
        div.append(html);
    }

</script>
<style>
        .message-container {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            width:100%,
        }

        .darker {
            border-color: #ccc;
            background-color: #ddd;
        }

        .message-container::after {
            content: "";
            clear: both;
            display: table;
        }

        .message-container img {
            float: left;
            max-width: 60px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

            .message-container img.right {
                float: right;
                margin-left: 20px;
                margin-right: 0;
            }

        .time-right {
            float: right;
            color: #aaa;
        }

        .time-left {
            float: left;
            color: #999;
        }
    </style>