@{
    ViewBag.Title = "Potwierdź email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie konta email. Any się zalogować @Html.ActionLink("Kliknij tutaj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
