@model JourneyPortal.ViewModels.Forum.CreatePostViewModel

@using (Html.BeginForm("CreatePost", "Forum", new { topicId = Model.Id, categoryId = Model.CategoryId }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Text, new { id = "answerTextBox" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                <span class="badge" id="maxContentPost"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<script>
    $(function () {
        var max = 500;
        registerSummernote('#answerTextBox', 'Dodaj post.Maksymalna długość - 500 znaków', max, null, 165)
        var string = 'Max ' + max + ' znaków'
        $('#maxContentPost').text(String(string));
    });

</script>