@model JourneyPortal.ViewModels.Forum.ForumViewModel
@{

}

<div class="container">
    <div class="jumbotron">
        <h1>Journey Portal - Forum</h1>
        <p>
            Witaj na naszym forum. Możesz tutaj skontaktować się z innymi użytkownikami , zobaczyć ich opinnie o trasach wycieczkowych czy ofertach biur podróży.
            Posiadając konto w naszym serwisie masz dodatkowo możliwość samodzielnego zadawania pytań czy dzielenia się z innymi użytkownikami swoimi wrażeniami.
        </p>
    </div>
    @if (Model.IsAdmin)
    {
        <h4>@Html.ActionLink("Zarządzaj kategoriami", "CreateNewCategory", "Forum")</h4>
    }
    @foreach (var item in Model.Categories)
    {
        <div class="well well-lg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        @item.Id.@item.Name
                        <br />
                    </div>
                    <div class="col-sm-7">
                        @Html.ActionLink("Przejdź do kategorii", "GetTopics", "Forum", new { categoryId = item.Id }, new { @class = "btn bg-primary" })
                    </div>
                    <div class="col-sm-3">
                        <p>
                            Ostatnia aktywność<br />
                            @item.LastActivity
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    function goToCathegory(id) {
        $.get("/Forum/GetTopics", { categoryId: id })
    }
</script>


