@*<div class="logoText">NATURE</div>*@
<script>
    $(function () {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.body.style.backgroundColor = "white";
        isMenuOpen = !isMenuOpen;
        $("#renderBody").removeClass("panel panel-default")
    });
</script>

@*<style>
    .logoText {
        color: black;
        font-size: 10vw; /* Responsive font size */
        font-weight: bold;
        margin: 0 auto; /* Center the text container */
        padding: 10px;
        width: 50%;
        text-align: center; /* Center text */
        position: absolute; /* Position text */
        top: 50%; /* Position text in the middle */
        left: 50%; /* Position text in the middle */
        transform: translate(-50%, -50%); /* Position text in the middle */
        mix-blend-mode: screen; /* This makes the cutout text possible */
    }
</style>*@